<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<targets>

		<!-- INFO LOG -->
		<target xsi:type="file" name="logInfo"
				fileName="${basedir}/Logs/Info/log.txt"
			layout="${longdate}|${level}|${message}|${exception:format=Message}"
				archiveAboveSize="2000000"
				createDirs="true"
				archiveFileName="${basedir}/Logs/Info/Archived_${shortdate}.txt"
				maxArchiveDays="5" />

		<!-- ERROR LOG -->
		<target xsi:type="file" name="logError"
				fileName="${basedir}/Logs/Error/error.txt"
				layout="${longdate}|${level}|${message}|${exception}"
				createDirs="true" />

		<!-- CONSOLE -->
		<target xsi:type="console" name="logConsole"
				layout="${longdate}|${level}|${message}" />

	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logInfo" />
		<logger name="*" minlevel="Error" writeTo="logError" />
		<logger name="*" minlevel="Debug" writeTo="logConsole" />
	</rules>

</nlog>